<!DOCTYPE html>
<html>

  <head>

    <style>

    h1 {
      top: 25%;
      padding: 50px 0px;
      color: red;
      font-size: 65px;
      font-family: "Comic Sans MS", Comic Sans, cursive;

    }

    body{
      background-color: #2E2E2E;
    }

    ul{
      list-style-type: none;
    }

    li{
      font-family: "Comic Sans MS", Comic Sans, cursive;
      color: red;
    }

    </style>

  </head>

  <body>

    <h1 align="center">BotNet</h1>

    <div align="center">
      <img style="padding: 0 0 0 100px" src="/static/tic.png" width="300" height="300">
      <a href="/"><input class="btn btn-primary" type="submit" value="Go home"></a>
    </div>
  </body>
</html>
